sub_raspberrypi.json
[{"id":"a90f375.44766c8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"70254ce.dceebb4","type":"rpi-dht22","z":"a90f375.44766c8","name":"DHT11 Sensor1","topic":"DHT11 Sensor1","dht":"11","pintype":"0","pin":"23","x":483.5,"y":308,"wires":[["d59b6100.41482"]]},{"id":"62643515.93c4fc","type":"rpi-dht22","z":"a90f375.44766c8","name":"DHT11 Sensor2","topic":"DHT11 Sensor2","dht":"11","pintype":"0","pin":"24","x":482.5,"y":444,"wires":[["e412fd70.d5786"]]},{"id":"dfcbf0bf.6cc5a","type":"mqtt out","z":"a90f375.44766c8","name":"DHT11 Sensor1 temp","topic":"DHT11 Sensor1 temp","qos":"","retain":"","broker":"d67e1f17.b6","x":1077.5,"y":224,"wires":[]},{"id":"763b587.d02efa8","type":"mqtt out","z":"a90f375.44766c8","name":"DHT11 Sensor2 temp","topic":"DHT11 Sensor2 temp","qos":"","retain":"","broker":"d67e1f17.b6","x":1086.5,"y":409,"wires":[]},{"id":"e101ea67.eae848","type":"mqtt in","z":"a90f375.44766c8","name":"DHT11 Sensor1 send","topic":"DHT11 Sensor1 send","qos":"2","datatype":"auto","broker":"d67e1f17.b6","x":272.5,"y":309,"wires":[["70254ce.dceebb4"]]},{"id":"50f68887.249fd8","type":"mqtt in","z":"a90f375.44766c8","name":"DHT11 Sensor2 send","topic":"DHT11 Sensor2 send","qos":"2","datatype":"auto","broker":"d67e1f17.b6","x":276,"y":447,"wires":[["62643515.93c4fc"]]},{"id":"d59b6100.41482","type":"function","z":"a90f375.44766c8","name":"change variable","func":"var temp = {};\nvar humi = {};\nvar error = {};\nvar valid = {};\n\ntemp.payload = msg.payload;\nhumi.payload = msg.humidity;\nerror.payload = msg.errors;\nvalid.payload = msg.isValid;\n\nreturn [temp,humi,valid,error];","outputs":4,"noerr":0,"x":781.5,"y":309,"wires":[["dfcbf0bf.6cc5a"],["87bc7be9.c05bd8"],["7f53a8b2.81bc88"],["9a18d2c6.54e31"]]},{"id":"e412fd70.d5786","type":"function","z":"a90f375.44766c8","name":"change variable","func":"var temp = {};\nvar humi = {};\nvar error = {};\nvar valid = {};\n\ntemp.payload = msg.payload;\nhumi.payload = msg.humidity;\nerror.payload = msg.errors;\nvalid.payload = msg.isValid;\n\nreturn [temp,humi,valid,error];","outputs":4,"noerr":0,"x":782,"y":445,"wires":[["763b587.d02efa8"],["6f7b599b.a6a118"],["15639e98.821301"],["9096bdd5.8bf8e"]]},{"id":"87bc7be9.c05bd8","type":"mqtt out","z":"a90f375.44766c8","name":"DHT11 Sensor1 humi","topic":"DHT11 Sensor1 humi","qos":"","retain":"","broker":"d67e1f17.b6","x":1070,"y":272,"wires":[]},{"id":"7f53a8b2.81bc88","type":"mqtt out","z":"a90f375.44766c8","name":"DHT11 Sensor1 valid","topic":"DHT11 Sensor1 valid","qos":"","retain":"","broker":"d67e1f17.b6","x":1070,"y":311,"wires":[]},{"id":"9a18d2c6.54e31","type":"mqtt out","z":"a90f375.44766c8","name":"DHT11 Sensor1 error","topic":"DHT11 Sensor1 error","qos":"","retain":"","broker":"d67e1f17.b6","x":1072,"y":349,"wires":[]},{"id":"6f7b599b.a6a118","type":"mqtt out","z":"a90f375.44766c8","name":"DHT11 Sensor2 humi","topic":"DHT11 Sensor2 humi","qos":"","retain":"","broker":"d67e1f17.b6","x":1085,"y":455,"wires":[]},{"id":"15639e98.821301","type":"mqtt out","z":"a90f375.44766c8","name":"DHT11 Sensor2 valid","topic":"DHT11 Sensor2 valid","qos":"","retain":"","broker":"d67e1f17.b6","x":1083,"y":495,"wires":[]},{"id":"9096bdd5.8bf8e","type":"mqtt out","z":"a90f375.44766c8","name":"DHT11 Sensor2 error","topic":"DHT11 Sensor2 error","qos":"","retain":"","broker":"d67e1f17.b6","x":1086,"y":534,"wires":[]},{"id":"d67e1f17.b6","type":"mqtt-broker","z":"","name":"","broker":"http://test.mosquitto.org/","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]